.wrapper {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "header"
    "sideNav"
    "main"
    "sidebar";
}
@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "header  header"
      "sideNav main"
      "sideNav main";
  }
}
  @media (min-width: 700px) {
    .wrapper {
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-areas:
        "header header  header"
        "sideNav content sidebar"
        "sideNav content sidebar";
     }
  }
  

.header {
  grid-area: header;
  height: 33vh;
  width: 66vw;
  background-color: rgb(26, 70, 26);
}

.sideNav {
  grid-area: sideNav;
  padding: 12px;
  text-align: center;
  background: #81cfd9;
}


main {
  background: #924889;
  padding: 12px;
  text-align: center;
}

.projectContainer {
  grid-area: main;
}

.sidebar {
  grid-area: sidebar;
  background-color: pink;
}

.container {
  display: flex;
  padding: 1rem;
}