.wrapper {
  max-width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "header"
    "sideNav"
    "main"
    "sidebar";
}
@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "header  header header"
      "sideNav main main"
      "sideNav main main"
      "sidebar sidebar sidebar";
  }
}
  @media (min-width: 700px) {
    .wrapper {
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas:
        "header header  header header header header"
        "sideNav main main main main sidebar"
        "sideNav main main main main sidebar";
     }
  }
  
.header {
  grid-area: header;
  width: 100vw;
}

.sideNav {
  grid-area: sideNav;
  padding: 12px;
  background: #81cfd9;
}

main {
  background: white;
  padding: 12px;
}

.projectContainer {
  grid-area: main;
}

.sidebar {
  grid-area: sidebar;

}

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.urlList {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.urlList > a {
  padding: 1rem 0;
}

.textCol {
  font-size: 1.25em;
  max-width: 750px;
}
