.wrapper {
  background-color: #efefef;
  display: grid;
  grid-template-columns: 1fr minmax(150px, 20%);
  height: 100px;
}

.sidebar {
  padding: 12px;
  text-align: center;
  background: #81cfd9;
}

.header {
  height: 33vh;
  width: 66vw;
  background-color: rgb(26, 70, 26);
}

main {
  background: #924889;
  padding: 12px;
  text-align: center;
}


.container {
  display: flex;
  padding: 1rem;
}