.Wrapper {
  width: 100vw;
  background-color: #f7f7f7;
}

/* .hero {
  display: grid;
  background-color: lightskyblue;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  padding: 2rem;
} */

.autoGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  /* padding: 1rem;  */
}

.cardContainer {
  border: solid 1px black;
  background-color: aquamarine;
}

/* .cardContainer {
  border: solid 1px #f7f7f7;
  border-radius: 0.5rem;
  padding: 1.5rem;
  min-height: 100%;
}

@media (min-width: 30em) and (max-width: 80em) {
  .cardContainer {
    background-color: purple;
  }
} */

.card {
  background-color: #f7f7f7;
  padding: 1rem;
  border-radius: 0.5rem;
}

.cardLinks {
  background-color: yellow;
}

.label {
  height: 2rem;
  padding: .5rem; 
  border-radius: 10px;
}

.label p {
  background-color: navy;
  color: gray;
}

.projectContainer {
  display: block;
  padding: 1rem 0;
  width: 100vw;
}
