.projects-wrapper {
  width: 100vw;
  background-color: #f7f7f7;
}

.container {
  padding: .5rem;
}
@media (min-width: 640px) {
  .container {
    padding: 2rem;
  }
}

.hero {
  background: repeating-linear-gradient(0deg, #1c1c1c 25%, #0E0D0E 50%, #171819 50%, #171819 75%);
  background-size: 10px 10px;
  height: 75vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.autoGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 2rem;
  /* padding: 1rem;  */
}

.cardContainer {
  border: solid 1px black;
  padding-right: 1.5em;
}

/* .cardContainer {
  border: solid 1px #f7f7f7;
  border-radius: 0.5rem;
  padding: 1.5rem;
  min-height: 100%;
}

@media (min-width: 30em) and (max-width: 80em) {
  .cardContainer {
    background-color: purple;
  }
} */

.card {
  min-width: 0;
  background-color: #f7f7f7;
  padding: 1rem;
  border-radius: 0.5rem;
}

.cardLinks {
  background-color: yellow;
}

.container {
  padding: 1rem 0;
}

.label {
  display: inline;
  text-align: left;
  border: solid 1px black;
  background-color: pink;
  color: black;
  height: 2rem;
  padding: .25rem;
  border-radius: 10px;
  margin: 1rem 0;
}

.tag {
  display: flex;
  flex-direction: row;
  padding: 0 .5rem;
  border: 1px grey solid;
  margin-right: .5rem;
}

.projectContainer {
  display: block;
  padding: 1rem 0;
  width: 100vw;
}

.glitch {
  font-size: 4rem;
  color: rgb(131, 216, 216);
  font-weight: bold;
}

.caption-top {
  font-size: 1.25rem;
  line-height: 1.1rem;
  margin: .5rem;
}