.bg-dark {
  background-color: #1c1c1c;
  color: #efefef;

}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;    
  /* gap: 20px; */
}

.center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-c {
  display: flex;
  flex-direction: column;
}

.auto-grid {
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 0rem;
}

.system {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.gradient {
  background: -webkit-linear-gradient(45deg, rgb(122, 201, 227), rgb(199, 203, 219) ,rgb(100, 123, 208));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.xl {
  font-size: 2rem;
}
